@font-face{
    font-family: 'Silent Night';
    src: url('../font/Silent_Night-Demo.otf');
}
@font-face{
    font-family: 'Halloween Night';
    src: url('../font/Halloween_Night.ttf');
}
@font-face{
    font-family: 'Frightmare';
    src: url('../font/Frightmare.ttf');
}
@font-face{
    font-family: 'Halloween Day';
    src: url('../font/Halloween_Day.ttf');
}

html, body{
    font-family: 'Halloween Day';
    /* letter-spacing: .5rem; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* padding: 0; */

    margin: 0;
    font-size: 20px;
    text-align: center;

/* centers all text */
}
header{
    background-color: #28004d;
    background-image: url('../img/jack_whiteface_invert.jpg');
    background-repeat: repeat;
    height: 240px;

/* added background picture repeating */
    padding: 40px;
    text-align: center;
    margin-bottom: 300px;
    /* margin-bottom: and height set to 240 to balance; */
}
h1{
    font-family: 'Silent Night';
    font-size: 60px;
    color: white;
    text-shadow: 0 4px 20px black;
    margin: 20px;
/* added shadow and magrin 0 so there will be no spaces when adding shadow */
    text-transform: uppercase;

    letter-spacing: 1.2rem;

}

header img {
/* image size is 225 x 225 px and half of it is 112.5 to make the border circular*/
    border-radius: 175px;
    width: 300px;
    border: 24px solid #FFD119;
    box-shadow: 0 10px 20px black;
/* added shadow in circle the x, y, blur amount, color*/

}
.wrapper{
    background-color: #5c5c5c;
    font-size: 25px;
    letter-spacing: .2rem;
}
.content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    color: #ffffff;
}

h2{
    font-family: 'Silent Night';
    font-size: 25px;
    letter-spacing: .5rem;
    color: #FFD119;
    /* font-size: 40px; */
}

img.jack_moon{
    max-width: 100%;
}

p.caption{
    font-size: 16px;
    color: lightgrey;
    font-style: italic;
}
ol{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;


}

a{
    color: #bb8ff5;
    text-decoration: none;
}

footer{
    margin-top: 20px;
    padding: 40px 20px;
    background-color: #313131;
    color: #ffffff;
}

footer ul{
    text-align: center;
}
/* centers the whole ul */

footer ul li{
    display: inline-block;
    margin: 0 5px;
}
/* inline block allows setteing spaces between lists */




/* <header>
<img src="img/jack_face.jpg" alt="huhuhaha" >
<h1>Jack Skellington</h1>
</header> */